---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

// This function is required for Astro to generate the pages at build time.
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();

const description = post?.body?.replace(/(\r\n|\n|\r)/gm, " ").slice(0, 120) + '...';
---

<Layout title={post.data.title} description={description}>
  <main>
    <article class="markdown">
      <h1>{post.data.title}</h1>
      <p>{post.data.pubDate.toLocaleDateString('ja-JP')}</p>
      <div>
        <Content />
      </div>
    </article>
  </main>
</Layout>
