@import 'tailwindcss';
@theme {
  --color-primary: #0e452d;
  --color-secondary: #6c757d;
  --color-accent: #1a784f;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;
  --color-background-page: #ffffff;
  --color-background-surface: #eeeeee;
  --color-divider: #e9ecef;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply font-bold text-text-primary pt-4 pb-4;
}

.markdown h1 {
  @apply text-3xl border-b border-divider;
}

.markdown h2 {
  @apply text-2xl border-b border-divider;
}

.markdown h3 {
  @apply text-xl;
}

.markdown p {
  @apply text-base text-text-primary leading-relaxed my-4;
}

.markdown a {
  @apply text-primary underline hover:text-accent;
}

.markdown strong,
.markdown b {
  @apply font-bold;
}

.markdown em,
.markdown i {
  @apply italic;
}

.markdown ul,
.markdown ol {
  @apply my-4 pl-6;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown li {
  @apply mb-2;
}

.markdown li > p {
  @apply my-0;
}

.markdown :not(pre) > code {
  @apply bg-background-surface text-accent px-1;
}

.markdown code {
  @apply font-mono text-sm;
}

.markdown pre {
  @apply bg-background-surface text-text-primary p-4 my-6 overflow-x-auto;
}

.markdown pre > code {
  @apply bg-transparent p-0;
}

.markdown blockquote {
  @apply border-l-4 border-accent pl-4 italic text-text-secondary my-6;
}

.markdown img {
  @apply max-w-full max-h-[50vh] h-auto my-6 rounded-md mx-auto block;
}

.markdown hr {
  @apply border-t border-divider my-4;
}

.markdown table {
  @apply w-full border-collapse my-6;
}

.markdown th,
.markdown td {
  @apply border border-divider px-4 py-0.5 text-left;
}

.markdown th[align='center'],
.markdown td[align='center'] {
  @apply text-center;
}
.markdown th[align='right'],
.markdown td[align='right'] {
  @apply text-right;
}

.markdown th {
  @apply bg-background-surface font-semibold;
}
