@import 'tailwindcss';
@theme {
  --color-primary: #0e452d;
  --color-secondary: #6c757d;
  --color-accent: #1a784f;
  --color-text-primary: #212529;
  --color-text-secondary: #6c757d;
  --color-background-page: #ffffff;
  --color-background-surface: #eeeeee;
  --color-divider: #e9ecef;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-text-primary pt-4 pb-4 font-bold;
}

.markdown h1 {
  @apply border-divider border-b text-3xl;
}

.markdown h2 {
  @apply border-divider border-b text-2xl;
}

.markdown h3 {
  @apply text-xl;
}

.markdown p {
  @apply text-text-primary my-4 text-base leading-relaxed;
}

.markdown a {
  @apply text-primary hover:text-accent underline;
}

.markdown strong,
.markdown b {
  @apply font-bold;
}

.markdown em,
.markdown i {
  @apply italic;
}

.markdown ul,
.markdown ol {
  @apply my-4 pl-6;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown li {
  @apply mb-2;
}

.markdown li > p {
  @apply my-0;
}

.markdown :not(pre) > code {
  @apply bg-background-surface text-accent px-1;
}

.markdown code {
  @apply font-mono text-sm;
}

.markdown pre {
  @apply bg-background-surface text-text-primary my-6 overflow-x-auto p-4;
}

.markdown pre > code {
  @apply bg-transparent p-0;
}

.markdown blockquote {
  @apply border-accent text-text-secondary my-6 border-l-4 pl-4 italic;
}

.markdown img {
  @apply mx-auto my-6 block h-auto max-h-[50vh] max-w-full rounded-md;
}

.markdown hr {
  @apply border-divider my-4 border-t;
}

.markdown table {
  @apply my-6 w-full border-collapse;
}

.markdown th,
.markdown td {
  @apply border-divider border px-4 py-0.5 text-left;
}

.markdown th[align='center'],
.markdown td[align='center'] {
  @apply text-center;
}
.markdown th[align='right'],
.markdown td[align='right'] {
  @apply text-right;
}

.markdown th {
  @apply bg-background-surface font-semibold;
}
