---
import ArticleList from '@/components/ArticleList.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { allPostData } from '@/utils/data.mjs';

export function getStaticPaths() {
  return [
    { params: { type: 'blog' }, props: { title: 'ブログ' } },
    { params: { type: 'note' }, props: { title: 'note' } },
    { params: { type: 'custommap' }, props: { title: 'カスタムマップ' } },
  ];
}

const { type } = Astro.params;
const { title } = Astro.props;
---

<PageLayout title={`${title}投稿一覧`}>
  <div
    class="border-divider timeline-links mb-2 flex flex-wrap gap-2 border-2 p-2">
    <a href="/timeline" class="util-link">全投稿</a>
    {
      getStaticPaths().map((path) => (
        <a href={`/timeline/${path.params.type}`} class="util-link">
          {path.props.title}
        </a>
      ))
    }
  </div>
  <ArticleList data={allPostData.filter((data) => data.type === type)} />
</PageLayout>
