---
import ArticleList from '@/components/ArticleList.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { allPostData } from '@/utils/data.mjs';
---

<PageLayout title="投稿一覧">
  <div
    class="border-divider timeline-links mb-2 flex flex-wrap gap-2 border-2 p-2">
    <a href="/timeline" class="util-link">全投稿</a>
    <a href="/timeline/blog" class="util-link">ブログ</a>
    <a href="/timeline/custommap" class="util-link">カスタムマップ</a>
  </div>
  <ArticleList data={allPostData} />
</PageLayout>
