---
import PageLayout from '@/layouts/PageLayout.astro';
import { allPostTags } from '@/utils/data.mjs';
---

<PageLayout title="タグ一覧">
  <h2 class="util-heading text-2xl">タグ一覧</h2>
  <div class="mt-4 flex flex-wrap gap-2">
    {
      allPostTags.map((tag) => (
        <a
          class="bg-background-surface util-link p-1"
          href={`/tags/${encodeURIComponent(tag.tag)}`}>
          #{tag.tag} ({tag.count})
        </a>
      ))
    }
  </div>
</PageLayout>
