---
import ArticleList from '@/components/ArticleList.astro';
import PageLayout from '@/layouts/PageLayout.astro';
import { allPostData } from '@/utils/data.mjs';
---

<PageLayout>
  <section>
    <ArticleList data={allPostData.slice(0, 6)} />
    <div class="util-link mt-2 text-right">
      <a href="/timeline">すべての投稿&gt;</a>
    </div>
  </section>
</PageLayout>
