---
export interface Props {
  data: {
    title: string | null;
    link: string | null;
  } | null;
  isNextLink?: boolean;
}

import { Icon } from 'astro-icon/components';

const { data, isNextLink } = Astro.props;
---

{
  data?.title ? (
    <a href={data.link}>
      <div
        class:list={[
          'border-divider',
          'border-2',
          'p-2',
          'util-link',
          !isNextLink && 'text-right',
        ]}>
        <div class="text-secondary text-xs">
          {isNextLink ? 'Next' : 'Previous'}
        </div>
        <div>
          {isNextLink && <Icon name="mdi:navigate-before" class="inline" />}
          <div class="inline">{data.title}</div>
          {!isNextLink && <Icon name="mdi:navigate-next" class="inline" />}
        </div>
      </div>
    </a>
  ) : (
    <div
      class:list={[
        'border-divider',
        'border-2',
        'p-2',
        !isNextLink && 'text-right',
      ]}>
      <div class="text-secondary text-xs">
        {isNextLink ? 'Next' : 'Previous'}
      </div>
      <div>
        {isNextLink && <Icon name="mdi:navigate-before" class="inline" />}
        <div class="text-secondary inline">記事がありません</div>
        {!isNextLink && <Icon name="mdi:navigate-next" class="inline" />}
      </div>
    </div>
  )
}
